[submodule "vim/.vim/bundle/vim-devicons"]
	path = vim/.vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/.oh-my-zsh/themes/spaceship-prompt"]
	path = zsh/.oh-my-zsh/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt
[submodule "/Users/dteagle1/dotfiles/vim/.vim/bundle/Vundle.vim"]
	path = /Users/dteagle1/dotfiles/vim/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
